@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico";
}
body {
    width: 600px;
    margin: 0 auto;
    background: linear-gradient(265deg, #e76852, #7925cd);
}
.wrapper {
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(265deg, #d49adbf7, #f5f5f3);
    box-shadow: 8px 10px 5px 5px rgba(15, 13, 1, 0.217)
}
/* .content {
    position: relative;
    word-wrap: break-word;
} */
.header {
    margin-bottom: 25px;
}
.header h1 {
    font-family: "Pacifico";
    color: rgb(21, 9, 198);
}
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(265deg, #fbd9d9f7, #33d0ec77);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 5px;
    align-items: center;
    position: relative;
    height: 50px;
}
.task-text {
    overflow-x: hidden;
    width: 77%;
}
.buttons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 5px;
}
.task button {
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.task button:hover {
    background-color: rgba(180, 25, 223, 0.317);
    
}
.new-task {
    background: linear-gradient(265deg, #fbd9d9, #33d0ec77);
    border: 1px solid rgb(244, 244, 244);
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.new-task input {
    width: 100%;
    padding-left: 5px;
}
.new-task button {
    padding: 3px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.new-task button:hover {
    background-color: rgba(180, 25, 223, 0.317);
    /* box-shadow: 0px 0px 1px 1px rgba(239, 11, 11, 0.769) */
}
.task-done {
    text-decoration: line-through;
    color: #686b68f9;
}
.delete-all {
    display: flex;
    justify-content: end;
    display: none
}
.delete-all button {
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    margin-top: 15px;
}
.delete-all button:hover {
    background-color: rgba(180, 25, 223, 0.317);
}
.author {
    bottom: 0;
    position: absolute;
}
.author img {
    width: 40px;
}
.links {
    display: flex;
}
@media (max-width: 600px) {
    body {
        width: 500px;
    }
}
@media (max-width: 500px) {
    body {
        width: 400px;
    }
}
@media (max-width: 430px) {
    body {
        width: 350px;
    }
}